<div class="card-deck" >
    <div class="card">
      <img src="https://images.pexels.com/photos/159866/books-book-pages-read-literature-159866.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Who Are We</h5>
        <p class="card-text">Our huge range of resources and guidance from our expert library staff will set you on the path to success. 
          our Library offers the ideal place to focus on your studies.</p>
        
      </div>
    </div>
    <div class="card">
      <img src="https://images.pexels.com/photos/34592/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Rules</h5>
        <p class="card-text">Only Three Books per person will be given. Those are Expected to return with in 15 days</p>
       
      </div>
    </div>
    <div class="card">
      <img src="https://images.pexels.com/photos/2946979/pexels-photo-2946979.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Timings</h5>
        <p class="card-text"> Monday to Saturday :- 9AM - 8PM <BR> Sunday :- 9AM - 12PM
        </p>
        
      </div>
    </div>
  </div>