<div class="alert alert-success" *ngIf='message'>{{message}}</div>
<div class="alert alert-danger" *ngIf='message2'>{{message2}}</div>
<div class="container mt-4">
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th>Request Id</th>
                <th>User Id</th>
                <th>Book Id</th>
                <th>Issue Date</th>
                <th>Expected Return Date</th>
                <th>Return Date</th>
                <th>Return</th>
                <!-- <th>Receive</th> -->
            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let request of userRequests'>
                <td>{{request.requestId}}</td>
                <td>{{request.userId}}</td>
                <td>{{request.bookId}}</td>
                 <td>{{request.issuedDate}}</td>
                <td>{{request.expectedReturnDate}}</td>
                <td>{{request.returnedDate}}</td> 
                <td ><button class= "btn btn-black " (click) = 'postRet(request)'>Return</button></td>
                
            </tr>

        </tbody>
    </table>

</div>

