.card {
      
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
    width: 20rem;
    padding-bottom: 50px;
   
    
}
div{
    color: white;
}
button{
    background: white;
    
}
