<div class="alert alert-success" *ngIf='message'>{{message}}</div>
<div class="col-md-4 offset-4 mt-4">
    <img src="https://i.pinimg.com/236x/a9/cb/00/a9cb00fa5dd90d70878ac7b78effb2e2.jpg" class="card-img" alt="...">
  <div class="card-img-overlay">
    <!-- <div class="card text-black bg-light mb-3"> -->
        <div class="card-body">
            <h2 class="text-center">Update Book</h2>
            <form #updateForm='ngForm' (ngSubmit) = 'postUpdate(updateForm)'>
                <!---------------- Book Name----------------- -->

                <div class="form-group">
                    <label for="isbn">Book Id</label>
                    <input type="text" name="isbn" id="bookTitle" [(ngModel)]='isbn' class="form-control"
                        required pattern="^[a-zA-Z ]{1,}$" readonly>


                </div>

                <div class="form-group">
                    <label for="bookTitle">Book Name</label>
                    <input type="text" name="bookTitle" id="bookTitle" [(ngModel)]='bookTitle' class="form-control"
                        required pattern="^[a-zA-Z ]{1,}$">


                </div>
                <!-----------------Author Name ------------------------->
                <div class="form-group">
                    <label for="authourName">Author Name</label>
                    <input type="text" name="authourName" id="authourName" [(ngModel)]='authourName'
                        class="form-control" required pattern="^[a-zA-Z ]{1,}$">

                </div>


                <div class="form-group">
                    <label for="price">Price</label>
                    <input type="text" name="price" id="price"  [(ngModel)]='price'
                        class="form-control" required pattern="^[1-9]{1}[0-9]{1,}$">
                    <!-- <div *ngIf='price.touched && price.invalid'>
                        <div class="text-danger" *ngIf='price.errors.required'>
                            *This field is mandatory
                        </div>
                        <div class="text-danger" *ngIf='price.errors.pattern'>Price Should contain Only Digits(>9)
                        </div>
                    </div> -->
                </div>


                <!-----------------------------------Availability------------------------------------- -->
                <div class="form-group">
                    <label for="isAvailable">Book Availability</label>
                    <select name="isAvailable" id="isAvailable" 
                        [(ngModel)]='isAvailable' class="form-control" required>
                        <option value="true">True</option>
                        <option value="false">False</option>
                    </select>
                </div><br>

                <button class="btn btn-black float-right">Update</button>
            </form>
        </div>
    </div>
</div>






















<!-- <div class="alert alert-success" *ngIf='message'>{{message}}</div>
<div class="col-md-4 offset-4 mt-4">
    <h4 class="text-center">Add User</h4>]

<form #updateBook='ngForm' >
    <div class="form-group">
      <label for="bookTitle">Book Name</label>
      <input type="bookTitle" name="bookTitle" id="name"  #bookTitle='ngModel' ngModel class="form-control">
    
    </div>
    
    <div class="form-group">
      <label for="authourName">Book Authour</label>
      <input type="text" name="authourName" id="authourName" #authourName='ngModel' ngModel class="form-control">
    </div>
    <div class="form-group">
        <label for="price">Price</label>
        <input type="text" name="price" id="price" #price='ngModel' ngModel class="form-control">
      </div>
      <div class="form-group">
        <label for="isAvailable">Availability</label>
        <input type="boolean" name="isAvailable" id="isAvailable" #role='ngModel' ngModel class="form-control">
      </div>
      
    <button type="submit" class="btn btn-danger float-right">Update</button>
    </form>
</div> -->